@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  src:
  url("./assets/fonts/lato-regular.woff2") format("woff2"),
  url("./assets/fonts/lato-regular.woff") format("woff");
}

@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 600;
  src:
  url("./assets/fonts/lato-bold.woff2") format("woff2"),
  url("./assets/fonts/lato-bold.woff") format("woff");
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
 }

:root {
  --white-pure: #fff;
  --gray: #BFBFBF;
  --gray-accent: #C9C9C9;
  --gray-secondary: #8D8D8D;
  --brown: #505050;
  --brown-dark: #313131;
  --brown-dark-light: #424242;
  --brown-dark-secondary: #3C3C3C;
  --brown-border: #5F5F5F;
  --brown-border-week: #4F4F4F;

  --red: #CA4C4C;
  --accent: #53CBF1;
}

/* Global */
body {
  position: relative;
  min-width: 42.5em;
  padding: 5em 0;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  align-items: center;

  font-family: "Lato", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  color: var(--gray);

  background-color: var(--grey-accent);
}

@media(min-width: 1120px) {
  body {
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
  }
}

img {
  max-width: 100%;
  height: auto;
}

html {
  height: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Content */

.content {
  padding: 0;

  border-collapse: collapse;
  background-color: var(--brown-dark);
  border-radius: 1.25em;
}

.content__caption {
  position: relative;
  padding: 1.25rem 1rem 1.5rem 15.75rem;
  margin: 0;

  background-color: var(--brown-dark);
  border-radius: 1.25rem 1.25rem 0 0;

  color: var(--white-pure);
  text-align: start;
  font-size: 18px;
  font-weight: 600;
}

.button-transparent {
  padding: 0;

  border: 0;
  background-color: transparent;
  cursor: pointer;
}

.content__caption__save-button,
.content__caption__close-button {
  position: absolute;
  content: "";
}

.content__caption__save-button {
  inset: 50% 3.25rem auto auto;
  transform: translateY(-60%);

}

.content__caption__close-button {
  inset: 50% 1rem auto auto;
  transform: translateY(-55%);

}

.button--save {
  padding: 0.25rem;
  width: 1.55rem;
  height: 1.5rem;

  color: var(--gray-secondary);
}

.button--save:hover {
  color: var(--accent);
}

.button--close {
  width: 1.5rem;
  height: 1.5rem;
}

.button--close::after,
.button--close::before {
  position: absolute;
  width: 0.75em;
  height: 1px;
  inset: 50%;

  content: "";
  background-color: var(--gray-secondary);
}

.button--close::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.button--close::before {
  transform: translate(-50%, -50%) rotate(45deg);
}

.button--close:hover::after,
.button--close:hover::before {
  background-color: var(--white-pure);
}

.content__head {
  padding: 0;
  margin: 0;

  font-size: 18px;
  font-weight: 600;

  color: var(--white-pure);
}

.content__row {
  display: grid;
  grid-auto-rows: 3.375rem;
  grid-template-columns: 5.625rem 8.375rem repeat(4, 7.188rem);
}

.content__row-empty {
  display: grid;
  grid-auto-rows: 3.375rem;
  grid-template-columns: repeat(2, 1fr) auto repeat(2, 1fr) 1px;
}

.content__row-add {
  padding: 1.875rem 0 0.875rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr) auto repeat(2, 1fr) 3px;
}

.content__row-add__cell {
  padding: 0;
  background-color: var(--brown-dark);
}

.content__row-add__cell:first-child {
  border-radius: 0 0 0 1rem;
}

.content__row-add__cell:last-child {
  border-radius: 0 0 1em 0;
}

.content__cell {
  display: flex;
  align-items: center;
  padding: 0.375rem 0.875rem;
  min-height: 0;

  word-break: break-word;
  overflow: hidden;

  background-color: var(--brown-dark-light);
  border: 1px solid var(--brown-dark);

  vertical-align: middle;
}

.cell-split {
  word-spacing: 100vh;

}

.content__body {
  padding: 0;
  margin: 0;

  font-size: 11px;
  color: var(--gray);
}

.cell-rep-color {
  margin-left: 11px;
  width: 2.5rem;
  height: 2.5rem;

  background-color: red;
}

.button--extended {
  width: 100%;
  height: 100%;
}

.button--change,
.button--delete {
  color: var(--gray-secondary);
}

.button--change:hover {
  color: var(--accent);
}

.button--delete:hover {
  color: var(--red);
}

.content__add-position {
  width: 13.75rem;
  height: 2.25rem;
  padding: 0.625rem 1rem;

  font-size: 12px;
  font-weight: 600;

  color: var(--white-pure);
  text-align: center;
  border: 1px solid var(--accent);
  background-color: transparent;
  border-radius: 6.25rem;
}

.content__add-position:hover {
  background-color: var(--accent);
}

.picker {
  width: 20em;
  /* height: 40.31em; */
  padding: 1.25em 1.5em 0.875em 0.875em;

  background-color: var(--brown-dark);
  border-radius: 1.25em;
}

.picker__title {
  display: block;
  width: 100%;
  margin-bottom: 1.75em;

  text-align: center;
  font-size: 18px;
  color: var(--white-pure);
}

.input-wrapper {
  display: grid;
  position: relative;
  width: 100%;
  grid-template-areas: "first second";
  grid-template-columns: 5.65em 10.875em;
  grid-auto-rows: 2.5em;
  gap: 1em;

  align-items: center;
}

.input-wrapper:not(.input-wrapper__list) {
  margin-bottom: 1rem;
}

.input-wrapper__list {
  margin-bottom: 2em;
  cursor: pointer;
}

.input-wrapper__list::before,
.input-wrapper__list::after {
  position: absolute;
  height: 1px;
  width: 0.44em;

  content: "";
  background-color: var(--gray-secondary);
}

.input-wrapper__list::before {
  inset: 50% 1.02em auto auto;
  transform: rotate(45deg);
}

.input-wrapper__list::after {
  inset: 50% 0.75em auto auto;
  transform: rotate(-45deg);
}

.input-wrapper__list.input-wrapper__list--active::before,
.input-wrapper__list.input-wrapper__list--active::after {
  display: none;
}

.form__name-input,
.form__type-input {
  grid-area: second;
  width: 10.94rem;
  height: 2.5rem;
  padding: 0.5rem 1rem;

  font-size: 12px;
  letter-spacing: 0.01rem;
  color: var(--gray);

  background-color: var(--brown-dark-light);
  border: 1px solid var(--brown-border);
  border-radius: 0.375rem;
}

.form__name-label,
.form__type-label {
  grid-area: first;

  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.01rem;
  color: var(--gray);
}

.input-wrapper__list .form__type-list {
  display: none;
}

.input-wrapper__list--active .form__type-input {
  display: none;
}

.input-wrapper__list--active .form__type-list {
  display: block;
}

.form__type-list {
  position: absolute;
  inset: 0 0 auto auto;
  padding: 0;
  margin: 0;
  width: 10.875em;

  color: var(--gray-secondary);
  list-style: none;
  overflow: hidden;
  cursor: pointer;

  background-color: var(--brown-dark-light);
  border: 1px solid var(--brown-border);
  border-radius: 0.375rem;
}

.form__type-item {
  padding: 0.75rem;
  font-size: 12px;
}

.form__type-item:hover {
  color: var(--gray-accent);
  background-color: var(--brown);
}

.color-chooser {
  width: 15.875em;
  padding: 0.3em 0.3em 1.125em;
  margin: 0 0.375em 1.125em 1.06em;

  background-color: var(--brown-dark-light);
  border: 1px solid var(--brown-border);
  border-radius: 0.25em;
}

.colorPicker {
  margin: 0 0 0.5em;
  width: 15.31em;

  background-color: var(--brown-dark-light);
  border: 0;
  border-radius: 0;

}

.colorPicker .twod {
  margin: 0;
  width: 13.375em;
  height: 13.375em;

  border-radius: 0;
}

.colorPicker .twod .bg.bg1,
.colorPicker .twod .bg.bg2 {
  width: 13.375em;
  height: 13.375em;
}

.colorPicker .oned {
  margin: 0 0 0 0.3em;
  width: 1.5em;
  height: 13.375em;

  border-radius: 0;
}

.colorPicker .oned .bg {
  width: 1.5em;
  height: 13.375em;

  border-color: var(--brown-border);
}

.colorPicker .oned .pointer .shape {
  width: 1.4em;
  height: 2px;
  margin-top: 0px;
  margin-left: 1px;

  border: 0;
  border-radius: 0;
  background-color: var(--brown-border);
}

.color-chooser__basics {
  display: grid;
  margin-bottom: 0.5em;
  grid-template-areas: "position-one position-two position-three position-four";
  grid-auto-rows: 1.5em;
  grid-template-columns: 3.125em 4.25em 5.97em 1.875em;
}

.format-input-wrapper {
  grid-area: position-two;
  position: relative;
  top: -1px;
}

.format-input-wrapper::before,
.format-input-wrapper::after {
  position: absolute;
  height: 1px;
  width: 0.44em;

  content: "";
  background-color: var(--gray-secondary);
}

.format-input-wrapper::before {
  inset: 50% 0.73em auto auto;
  transform: rotate(45deg);
}

.format-input-wrapper::after {
  inset: 50% 0.5em auto auto;
  transform: rotate(-45deg);
}

.format-list.format-list--active::before,
.format-list.format-list--active::after {
  display: none;
}

.format-list.format-list--active .color-chooser__format-input {
  display: none;
}

.format-list .color-chooser__format-list {
  display: none;
}

.format-list.format-list--active .color-chooser__format-list {
  display: block;
}

.color-chooser__format-input {
  width: 100%;
  height:1.5rem;
  padding: 0.25rem 0.5rem;

  border: 1px solid var(--brown-border);
  background-color: var(--brown-dark-light);
  color: var(--gray-secondary);
  border-radius: 2px;

  font-size: 12px;
}

.color-chooser__format-list {
  grid-area: position-two;
  position: relative;
  width: 100%;
  padding: 0;
  margin: 0;

  border: 1px solid var(--brown-border);
  background-color: var(--brown-dark-light);
  color: var(--gray-secondary);
  border-radius: 2px;

  list-style: none;
  overflow: hidden;
  cursor: pointer;

  z-index: 1000;
}

.color-chooser__format-item {
  padding: 0.25rem 0.5rem;
  font-size: 12px;
}

.color-chooser__format-item:hover {
  color: var(--gray-accent);
  background-color: var(--brown);
}

.color-chooser__value-color-label {
  grid-area: position-one;
  padding: 0.313rem 0.625rem;

  font-size: 12px;
}

.color-chooser__value-color-input {
  grid-area: position-three;
  margin: 0;
  margin-left: 7px;
  padding: 0.25rem 0.5rem;

  border: 1px solid var(--brown-border);
  background-color: var(--brown-dark-light);
  color: var(--gray-secondary);
  border-radius: 2px;
  text-transform: uppercase;

  overflow: hidden;
  font-size: 12px;
}

.color-chooser__current-color {
  grid-area: position-four;
  position: relative;
  top: -0.5px;
  margin-left: 0.313rem;
  width: 1.563rem;
  height: 1.563rem;

  background-color: yellowgreen;
  border-radius: 2px;
}

.color-chooser__details {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  margin-bottom: 1.25rem;

  list-style: none;
}

.details__item {
  position: relative;
  width: 4.375em;
  height: 1.563em;

  border: 1px solid var(--brown-border);
  background-color: var(--brown-dark-light);
  border-radius: 2px;
}

.details__item-label {
  position: absolute;
  inset: 0.31rem auto auto 0.625rem;
  color: var(--white-pure);
  font-size: 11px;
}

.details__item-input {
  position: absolute;
  inset: 0.15rem auto auto 0;
  width: 100%;
  height: 1.4rem;
  margin: 0;
  padding: 0.36rem 0.5rem 0.3rem 2.375rem;
  margin-top: -2px;

  border: 0;
  background-color: transparent;

  font-size: 11px;
  color: var(--gray);
}

.color-chooser__examples {
  display: flex;
  flex-wrap: wrap;
  padding: 0 0.313em 0 0.625em;
  margin: 0;

  gap: 0.625em 0.875em;
  list-style: none;
}

.examples__item {
  width: 1.25em;
  height: 1.25em;
  border-radius: 3px;
}

.examples__item--one {
  background-color: #D0021B;
}

.examples__item--two {
  background-color: #F5A623;
}

.examples__item--three {
  background-color: #F8E71C;
}

.examples__item--four {
  background-color: #8B572A;
}

.examples__item--five {
  background-color: #7ED321;
}

.examples__item--six {
  background-color: #417505;
}

.examples__item--seven {
  background-color: #BD10E0;
}

.examples__item--eight {
  background-color: #9013FE;
}

.examples__item--nine {
  background-color: #4A90E2;
}

.examples__item--ten {
  background-color: #B8E986;
}

.examples__item--eleven {
  background-color: #000000;
}

.examples__item--twelve {
  background-color: #9B9B9B;
}

.examples__item--thirteen {
  background-color: #FFFFFF;
}

.form__submit {
  width: 16rem;
  height: 2.25rem;
  padding: 0.625rem;
  margin: 0 1.06rem;

  font-size: 12px;

  color: var(--white-pure);
  background-color: var(--accent);
  border-radius: 6.25rem;
  border: 1px solid transparent;
  text-align: center;

  cursor: pointer;
}

.form__submit:hover {
  background-color: transparent;
  border: 1px solid var(--accent);

}



